* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

main {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 30%;
    gap: 5px;
    background-color: grey;
    aspect-ratio: 1/1;
    box-shadow: 5px 5px 5px 2px grey;
}

main>button {
    border: none;
    background-color: white;
}

header {
    display: flex;
    flex-direction: column;
}

header>div {
    display: flex;
    flex-direction: row;
}

header>h1 {
    color: grey
}


/* Tablet */

@media (max-width: 1024px) {
    main {
        width: 50%;
    }
}


/* Mobile */

@media (max-width: 768px) {
    main {
        width: 50%;
    }
}


/* Very small phones */

@media (max-width: 480px) {
    main {
        width: 100%;
    }
}