* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

main {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 30%;
    gap: 5px;
    background-color: grey;
    aspect-ratio: 1/1;
    box-shadow: 5px 5px 5px 2px grey;
    position: relative;
}

main>button,
main>div {
    border: none;
    background-color: white;
}

main>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(20px, 8vw, 80px);
    color: rgb(53, 36, 146);
    font-family: 'Roboto Mono', monospace;
}

header {
    display: flex;
    flex-direction: column;
    align-content: center;
}

header>div {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

header>h1 {
    color: grey;
    text-align: center;
}

.red {
    background-color: red;
}

.player-turn {
    color: green;
    font-weight: bold;
    border: 2px dotted grey;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 7px;
}

.player2 {
    color: red !important;
}

header>div>button {
    padding: 5px 15px;
    margin: 5px;
    border: none;
    background-color: rgb(37, 118, 172);
    color: white;
    font-weight: bold;
    border-radius: 7px;
}

.line {
    visibility: hidden;
    width: 100%;
    border: 2px solid red;
    position: absolute;
    top: 16%;
}

section {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

section>div {
    min-width: 20%;
    min-height: 20%;
    background-color: white;
    z-index: 1;
    box-shadow: 5px 5px 5px 5px blue;
    background-color: red;
}


/* Tablet */

@media (max-width: 1024px) {
    main {
        width: 50%;
    }
}


/* Mobile */

@media (max-width: 768px) {
    main {
        width: 50%;
    }
}


/* Very small phones */

@media (max-width: 480px) {
    main {
        width: 100%;
    }
}